= render 'light/newsletters/top_navbar'

= simple_form_for (@user), html: {role: 'form', class: 'form-horizontal'} do |f|
  %table
    %tr
      %td
        = f.input :email_id, input_html:{class: 'span3'}
        = f.input :username, input_html:{class: 'span3'}
        = f.label 'Subscribed'
        .make-switch{'data-on': 'success', 'data-off': 'warning', 'data-on-label': 'True', 'data-off-label': 'False'}
          = f.check_box :is_subscribed, {}, 'true', 'false'
        %br
        %br
        = f.input :joined_on, input_html: {type: 'date', class: 'date-picker', value: @user.joined_on.try(:strftime, '%Y-%m-%d')}
        = f.input :source, input_html:{class: 'span3'}
        = f.button :submit, class: "btn btn-success controls"


