= render 'top_navbar'

%table.table
  - count = 3
  - @newsletters.each do |newsletter|
    - if count > 2
      - count = 0
      %tr
    %td
      %center
        %a.link{href: "#{newsletter_path(newsletter)}" }
          %div.tile.thumbnail
            - if Rails.env.production?
              = image_tag newsletter.get_image
            %div.cap
              %h4
                = newsletter.sent_on.strftime('%B %Y')
                = "(#{newsletter.users_count} users)"
      %center
        %hr
          = link_to '', edit_newsletter_path(newsletter), class: 'btn btn-lg icon-edit', data: { no_turbolink: true }
          = link_to '', newsletter_path(newsletter), method: :delete, class: 'btn btn-lg icon-trash', :data => { :confirm => 'Are you sure, you want to delete newsletter?'}
          = link_to 'Send Mail', send_newsletter_path(newsletter), method: :post, :class => 'btn btn-mini btn-danger', :data => { :confirm => 'Are you sure ?'}
          = link_to 'Test Mail', test_mail_newsletter_path(newsletter), :class => 'btn btn-mini btn-success'
    - count += 1

