= render 'top_navbar'

%table.table
  -count=3
  -@newsletters.each do |newsletter|
    -if count > 2
      -count=0
      %tr
    %td
      %center
        %a.link{href: "#{newsletter_path(newsletter)}" }
          %div.tile.thumbnail
            - if Rails.env.production?
              = image_tag newsletter.get_image
            %div.cap
              %h4
                = newsletter.sent_on.strftime("%B %Y")
                = "(#{newsletter.users_count} users)"
      %center
        %hr
          = link_to "Edit", edit_newsletter_path(newsletter), class: "btn btn-mini btn-success", data: { no_turbolink: true }
          = link_to "Delete", "#", data: {toggle: "modal", target: "#delete-confirmation-modal-#{newsletter.id}"}, class: "btn btn-mini btn-danger delete-button"
          = render "delete_confirmation_modal", newsletter: newsletter
    -count+=1


