= nav_bar :brand => 'Newsletters', :responsive => true, :static => :top, :fluid => :true do
  = menu_group do
    = menu_item "Add Newsletter", new_newsletter_path
    = menu_item "Opt in letters", newsletters_path(type: "Opt-In Letter")
    = menu_item "Opt out letters", newsletters_path(type: "Opt-Out Letter")
    = drop_down "Add Users" do
      = menu_item "Add Manually", new_user_path
      = menu_item "Import Opt-in Users", users_import_path
      = menu_item "Google Spreadsheets", spreadsheets_path

    = menu_item "Show Users", users_path, ({:method => 'get'} if params[:controller] == 'light/users' && params[:action].in?(['new', 'create']))
%br
