= nav_bar :brand => "Newsletters", :responsive => true, :static => :top, :fluid => :true do
  = menu_group do
    = menu_item "Add Newsletter", new_newsletter_path
    = menu_item "Opt in letters", opt_in_newsletters_path
    = menu_item "Opt out letters", opt_out_newsletters_path
    = drop_down "Add Users" do
      = menu_item "Add Manually", new_user_path
      = menu_item "Import Opt-in Users", users_import_path
      = menu_item "Google Spreadsheets", spreadsheets_path

    = menu_item "Show Users", users_path, ({:method => 'get'} if params[:controller] == 'light/users' && params[:action].in?(['new', 'create']))
    = menu_item raw ("Subscribers: #{badge(Light::User.subscribed_users.count)}")
    = menu_item raw ("New users: #{badge(Light::User.new_users.count)}")
  
  = menu_group :pull => :right do
    = content_tag :a, "Send Mail", :href => sendmailer_path, :class => 'btn btn-danger', :data => { :confirm => 'Are you sure ?'}
    = content_tag :a, "Test Mail", :href => testmail_path, :class => "btn btn-success"
%br
