%div.pull-right{'z-index' => 3452345}
  = link_to "Send Mail", sendmailer_path, class: "btn btn-danger", :data => { :confirm => 'Are you sure?'}
  = link_to "Test Mail", testmail_path, class: "btn btn-success"
<!DOCTYPE html>
%html
  %head
  %title Lightair
  %body
    %div.nav.navbar-default.navbar{role: "navigation"}
      %div.container
        %div.nav-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: "#{newsletters_path}"}
                %strong LightAir
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                %strong
                  Newsletters
                  %span.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dropdownMenu" }
                %li
                  %a{role: "menuitem", tabindex: "1", href: "#{newsletters_path}"}  Show Newsletters
                %li
                  %a{role: "menuitem", tabindex: "2", href: "#{new_newsletter_path}"} Add Newsletter
            %li
              %a{href: "#{users_path}"}
                %strong Show Users
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                %strong
                  Add Users
                  %span.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dropdownMenu" }
                %li
                  %a{role: "menuitem", tabindex: "-1", href: "#{new_user_path}"}Add Manually
                %li
                  =#%a{role: "menuitem", tabindex: "-2", href: "#{spreadsheets_path}"}Google Spreadsheets

        %ul.nav.navbar-nav.navbar-right
          %li
            %a
              %strong
                Subscriber count :
                =Light::User.count
      %div.col-md-10
      %div.col-md-2
        %a{href:"https://github.com/you"}
          %img{style:"position: absolute; top: 0; left: 0; border: 0;",
            src:"https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67",
            alt:"Fork me on GitHub",
            'data-canonical-src'=>"https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"}
    
    %div.container#content
      %div.col-md-1
      %div.col-md-9
        %div.row
          %div= yield

%h4
  %strong Newsletters
%table.table
  -count=3
  -@newsletters.each do |newsletter|
    -if count > 2
      -count=0
      %tr
    %td
      %center
        %a.link{href: "#{newsletter_path(newsletter)}" }
          %div.tile.thumbnail
            %img{src: "/images/newsletter.jpg"}
            %div.cap
              %h4
                %center
                  =newsletter.sent_on.strftime("%B %Y")
    -count+=1

