= render 'top_navbar'
%h2.text-center
  = @newsletter.subject
  = link_to '', edit_newsletter_path(@newsletter), class: 'icon-edit pull-right', data: { no_turbolink: true }
= raw @newsletter.content
%center
  = link_to 'Send Mail', send_newsletter_path(@newsletter),
    :class => 'btn btn-danger', :data => { :confirm => 'Are you sure ?'}, method: :post
  = link_to 'Send Test Mail', test_mail_newsletter_path(@newsletter), :class => 'btn btn-success'