= render 'top_navbar'
= raw @newsletter.content
- if @newsletter.opt_in?
  = link_to "Send Opt-In Mail", send_opt_in_newsletter_path(@newsletter, template_type: 'Newsletter'),
    :class => 'btn btn-danger', :data => { :confirm => 'Are you sure ?'}, method: :post
  = link_to "Send Opt-In Test Mail", test_opt_in_newsletter_path(@newsletter), :class => "btn btn-success"

- elsif @newsletter.opt_out?
  = link_to "Send Opt-Out Mail", send_opt_out_newsletter_path(@newsletter, template_type: 'Newsletter'),
    :class => 'btn btn-danger', :data => { :confirm => 'Are you sure ?'}, method: :post
  = link_to "Send Opt-Out Test Mail", test_opt_out_newsletter_path(@newsletter), :class => "btn btn-success"
