<!DOCTYPE html>
%html
  %head
  %title Lightair
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    %div.nav.navbar-inverse.navbar-fixed-top
      %div.container
        %div.navbar-header
          .navbar-brand
            %h4 LightAir

        %ul.nav.navbar-nav
          %li.active
            %a{href: "#{home_index_path}"}
              %h4 Home
          %li
            %a{href: "#"} 
              %h4 Newsletters
          %li
            %a{href: "#{new_user_path}"}
              %h4 Add New User
          %li
            %a{href: "#{users_path}"}
              %h4 All Users


        %ul.nav.navbar-nav.navbar-right
          %li.active
            %a{href: "#"}
              Subscriber count : 
              1000 
    %div.container
      %div.row
        %div.col-sm-9= yield
        %div.col-sm-3
          %center
            %h3 Insight of LightAir
            %p LightAir is a mass Mailer designed to send newsletters designed in html to be sent to a few hundered to a tens of thousands of subscribers. It has an inbuilt HTML editor to create a newsletter online.
