<!DOCTYPE html>
%html
  %head
  %title Lightair
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    %div.nav.navbar-inverse.navbar-fixed-top
      %div.container
        %div.nav-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: "#{newsletters_path}"}
                %h4 LightAir
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                %h4
                  Newsletters
                  %span.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dropdownMenu" }
                %li
                  %a{role: "menuitem", tabindex: "1", href: "#{newsletters_path}"}  Show Newsletters
                %li
                  %a{role: "menuitem", tabindex: "2", href: "#{new_newsletter_path}"} Add Newsletter
            %li
              %a{href: "#{users_path}"}
                %h4 Show Users
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                %h4
                  Add Users
                  %span.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dropdownMenu" }
                %li
                  %a{role: "menuitem", tabindex: "-1", href: "#{new_user_path}"}Add Manually
                %li
                  %a{role: "menuitem", tabindex: "-2", href: "#{spreadsheets_path}"}Google Spreadsheets

        %ul.nav.navbar-nav.navbar-right
          %li.active
            %a{href: "#"}
              %h4
                Subscriber count :
                =User.count
    %div.container
      %div.row
        %div= yield